<h4 class="text-uppercase">Editing vendor</h4>

<%= render "form", vendor: @vendor %>

<br>

<div>
  <%= link_to "Show this vendor", @vendor %> |
  <%= link_to "Back to vendors", vendors_path %>
</div>
