<div style="margin-left:50px">
	<h3 class="h4"><%= @agent.full_name %></h3>
	<p><%= @agent.company %></p>
	
	<button class="btn btn-info">Call <%= @agent.first_name %></button>
	<button class="btn btn-success">Email <%= @agent.first_name %></button>
</div>