<%# <p style="color: green"><%= notice %><%#</p> %>


<div class="container">
  <div class="row">
      <div class="col-8">

        <div class="property-main-photo mb-3" style="background-image:url('<%= property_photo_url(@property) %>')">
          <div class="photo-overlay">
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <%= render @property %>

    <div class="col-4">
      <%= render "properties/agent_details"  %>
    </div>

  </div>

</div>
