<%# <p style="color: green"><%= notice %><%#</p> %>


<div class="container">
  <div class="row">
      <div class="col-8">

        <div class="property-main-photo mb-3" style="background-image:url('<%= property_photo_url(@property) %>')">
          <div class="photo-overlay">
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <%= render @property %>

    <div class="col-4">
      <%= render "properties/agent_details"  %>
    </div>

        <%# <div  class="form-group"> %>
          <%#= link_to "Edit this property", edit_property_path(@property), class: "btn btn-success" %> 
          <%#= link_to "Back to properties", properties_path, class: "btn btn-link" %>
          <%#= button_to "Destroy this property", @property, method: :delete, class: "btn btn-success" %>
        <%# </div> %>
  </div>

</div>
