<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->

    <section id="home_sliding" >

			<%= render "layouts/component/home_sliding"  %>

</section>

    <section id="promotion" >

			<%= render "layouts/component/promotion"  %>

</section>



</main>