<p style="color: green"><%= notice %></p>

<%= render @pin %>

<div class="form-group mt-4"> 

<%= button_to "Destroy this pin", @pin, method: :delete , class: "btn btn-success"%>
  <br/>
  <%= link_to "Back to pins", pins_path %>

</div>
