<footer class="container">
  <% if ["public","devise"].include?(controller.controller_name) %>
 <p style="text-align: center">Copyright July 2023</p>
  <% else %>
	<span></span>
  <% end %>

</footer>